@{
    ViewData["Title"] = "Продукция";
}

@foreach (var cat in Model.Products)
{
  <div>@cat.Id @cat.Name @Model.PricesDict
      <form method="post">
          <input type="submit" required value="Удалить"/>
          </form>
          </div>
}


