@{
    ViewData["Title"] = "SendMessage";
}

<form 
    method="post">
    Id: <input type="text" name="id" required />
    <br/>
    Имя: <input type="text" name="name" />
    <br/>    
    <input type="submit" name="submit" required value="Создать"/>
</form>

